/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,800" rel="stylesheet');*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

svg{

}

body {
     /*font-family: 'Open Sans', sans-serif;*/
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     
    
     
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  font-family: 'Open Sans', sans-serif;

}


header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  
  min-height: 400px;
  min-width: 200px;
  max-height: 500px;
  
  background-position: center -170px;
  
  /*height: 300px;*/
  width: 100%;
  padding-top: 20px;
  

 
}

.logo{/*Extra bold, 24px*/
  font-size: 24px; 
  color: white;
  font-weight: 800;
  margin:  0px auto 50px 50px;

}

.hline{/*"Get piece of mind with a single tap" - Semibold, 24px*/
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 30px;
}

.topb{
  display: block;
  margin: auto;
  border-radius: 5px;
  background: #f9e42e;
  height: 40px;
  width:200px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #606161;
  font-weight: 800;

}


/*----Main----*/


.benefitsbox{
margin: 50px;
min-height: 170px;
box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);

}

.benefits {/*"Benefits" - Semibold, 20px*/
  font-size: 20px; 
  color: #606161;
  font-weight: 600;
}

.blurb {/*"The perfect personal assistant... " - Light, 13px*/
  font-size: 13px; 
  color: #606161;
  font-weight: 300;
  margin: 20px 0 20px 10px;
}

li{/*Light, 13px*/
  font-size: 13px; 
  color: #606161;
  font-weight: 300;
  margin: 0 0 0px 50px;
}

.quotebox{
  background: url('../images/testimonial_bg.jpg') no-repeat center top rgb(0, 0, 10);
padding: 50px;
box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);
  

}

.quote{/*- Light Italic, 18px*/
  font-size: 18px; 
  color: white;
  font-weight: 300;
  font-style: italic;
  text-align: center;

  
}

.quotename{/*semibold, 18px*/
  font-size: 18px; 
  color: white;
  font-weight: 600;
  text-align: center;
}

.yellow-box {
  background: #f9e42e;
 height: 80px;
 padding: 20px;
 

}

.bottomb{
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #033048;
  height: 40px;
  width:210px;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 800;
  
}


/*---Footer---*/

footer { /*"Copyright 2015. Relaxr." - 9px, semibold*/
  background: #121212;
  font-size: 9px; 
  color: white;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);

}

.logo2 {/*Relaxr - extra bold, 24px*/
   font-size: 24px; 
  color: #f9e42e;
  font-weight: 800;
  padding: 30px 20px 20px 20px;
}

.twitter{
  /*background-image: url("../../starter_code/images/twitter.png");*/
  height: 18px;
  margin: 10px 10px 30px auto;

}

.fb{
  /*background-image: url("../../starter_code/images/facebook.png");*/
 height: 18px;
  margin: 10px auto 30px 10px;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




